#but_dashboard{
-fx-background-color: #F7F9F9;
-fx-cursor:hand;
-fx-background-radius:20px;
-fx- background-color: #ffffff;
}

#but_dashboard:hover {
 -fx- box-shadow: 0 0 #333;
 -fx-color: #050404;
  -fx-background-color:#333;

}


#but_avail{
-fx-background-color: #F7F9F9;
-fx-cursor:hand;
-fx-background-radius:20px;

}



#but_avail:hover {
 -fx- box-shadow: 0 0 #333;
 -fx-color: #050404;
  -fx-background-color:#333;

}

#but_customer{
-fx-background-color: #F7F9F9;
-fx-cursor:hand;
-fx-background-radius:20px;

}
#but_customer:hover {
 -fx- box-shadow: 0 0 #333;
 -fx-color: #050404;
  -fx-background-color:#333;

}



#toppane{
-fx-background-color: #fff;
-fx-background-radius:10px;

}

#dashboard_botform{

-fx-background-color: #fff;
-fx-background-radius:10px;

}


#top1pane,#top2pane{
-fx-background-radius:20px;
-fx- box-shadow: 0 0 #333;



}

/*Available Rooms*/



#avail_leftform{
-fx-background-color: #fff;
-fx-background-radius:10px;


}

#avail_rightpane{
-fx-background-color: #fff;
-fx-background-radius:10px;

}

/*buttonavailablerooms */


#avail_addbut{

-fx-background-color: #ffffff;
-fx-cursor:hand;
-fx-background-radius:20px;

}


#avail_addbut:hover {
-fx- box-shadow: 0 0 #333;
 -fx-color: #050404;
 -fx-background-color:#333;
}

#avail_deletebut{

-fx-background-color: #ffffff;
-fx-cursor:hand;
-fx-background-radius:20px;

}

#avail_deletebut:hover {
-fx- box-shadow: 0 0 #333;
 -fx-color: #050404;
 -fx-background-color:#333;
}




#avail_clearbut{

-fx-background-color: #ffffff;
-fx-cursor:hand;
-fx-background-radius:20px;

}

#avail_clearbut:hover {
-fx- box-shadow: 0 0 #333;
 -fx-color: #050404;
 -fx-background-color:#333;
}





#avail_updatebut{
fx-background-color: #ffffff;
-fx-cursor:hand;
-fx-background-radius:20px;

}
#avail_updatebut:hover {
-fx- box-shadow: 0 0 #333;
 -fx-color: #050404;
 -fx-background-color:#333;
}


#avail_checkinbut{
fx-background-color: #ffffff
-fx-cursor:hand;
-fx-background-radius:20px;
}


#avail_checkinbut:hover {
-fx- box-shadow: 0 0 #333;
 -fx-color: #050404;
 -fx-background-color:#333;
}



#customer_form{
-fx-background-color: #fff;
-fx-background-radius:10px;

}

#ReceiptButton{
 -fx-display: flex;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-text-fill: #333333;
    -fx-font-size: 16px;
    -fx-background-radius: 0px;
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
    -fx-font-weight: bold;
    -fx-border-color: #333333;
    -fx-border-width: 2px;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(51, 51, 51, 1), 5, 0.0, 5, 5);
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-transition: 0.3s;
}

#ReceiptButton:hover {
 -fx-effect: none;
    -fx-text-fill: #ffffff;
    -fx-background-color: #333333;


}

#ResetButton{
 -fx-display: flex;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-text-fill: #333333;
    -fx-font-size: 16px;
    -fx-background-radius: 0px;
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
    -fx-font-weight: bold;
    -fx-border-color: #333333;
    -fx-border-width: 2px;
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(51, 51, 51, 1), 5, 0.0, 5, 5);
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-transition: 0.3s;


}

#ResetButton:hover{

 -fx-effect: none;
    -fx-text-fill: #ffffff;
    -fx-background-color: #333333;


}


#CheckInButton{
    -fx-background-color: #ffffff;
                    -fx-cursor:hand;
                     -fx-background-radius:20px;
}

#CheckInButton:hover{
  -fx- box-shadow: 0 0 #333;
                       -fx-color: #050404;
                        -fx-background-color:#333;


}














